<script>
  var hostUrl = "assets/";
</script>

<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->

<!--begin::Vendors Javascript(used for this page only)-->
<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="assets/plugins/custom/fslightbox/fslightbox.bundle.js"></script>
<script src="assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js"></script>
<script src="assets/plugins/custom/formrepeater/formrepeater.bundle.js"></script>
<script src="assets/plugins/custom/moment-date/moment.js"></script>
<!--end::Vendors Javascript-->

<!--begin::Custom Javascript(used for this page only)-->
<script src="assets/js/custom-file/listing.js"></script>
<script src="assets/js/custom-file/ckEditor.js"></script>
<script src="assets/js/custom-file/change-image.js"></script>
<script src="assets/js/custom-file/file-upload.js"></script>
<!--end::Custom Javascript-->

<script type="text/javascript">
  jQuery(document).ready(function() {
    var url = window.location;
    jQuery('div.menu-sub a[href="' + url + '"]').addClass('active');
    jQuery('div.menu-sub a').filter(function() {
      return this.href == url;
    }).addClass('active');
    jQuery('a.active').parent().addClass("test");
    jQuery('div.test').parent().parent().addClass("show here");

    jQuery('div.menu-item a[href="' + url + '"]').addClass('active');
    jQuery('div.menu-item a').filter(function() {
      return this.href == url;
    }).addClass('active');

  });
</script>

<script>
  $('#kt_docs_repeater_basic').repeater({
    initEmpty: false, 

    defaultValues: {
      'text-input': 'foo'
    },

    show: function() {
      $(this).slideDown();

      // Re-init select2
      $(this).find('[data-kt-repeater="select2"]').select2();

    },

    hide: function(deleteElement) {
      $(this).slideUp(deleteElement);
    },

    ready: function() {
      // Init select2
      $('[data-kt-repeater="select2"]').select2();
    }
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var modal = document.getElementById('kt_modal_no_access');
    if (modal) {
      modal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget; // Button that triggered the modal
        var message = button.getAttribute('data-message'); // Extract message from data attribute
        var modalMessage = document.getElementById('modal-message');
        modalMessage.innerHTML = message; // Set the message in the modal
      });
    }

  });
</script>

</body>
<!--end::Body-->

</html>